@font-face {
  font-family: "SanFrancisco";
  src:
    url("https://cdn.rawgit.com/AllThingsSmitty/fonts/25983b71/SanFrancisco/sanfranciscodisplay-regular-webfont.woff2") format("woff2"),
    url("https://cdn.rawgit.com/AllThingsSmitty/fonts/25983b71/SanFrancisco/sanfranciscodisplay-regular-webfont.woff") format("woff");
}

.btn-primary {
  background-color: #37875a;
  border-color: #37875a;
}

#messages-row {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}

#thread-column {
  width: 350px;
  margin-right: 15px;
}

.list-group-item {
  background-color: #ffffff;
}

.list-group-item.active {
  background-color: #DAE5D0;
  border-color: #f2f2f2;
  color: black;
}

.thread-tile {
  font-size: 18px;
}

.thread-name {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.thread-time {
  font-size: 16px;
  color: gray;
}

#chat-column {
  margin-left: -15px;
  border-left: 1px solid rgb(218, 218, 218);
  border-right: 1px solid rgb(218, 218, 218);
  flex-grow: 1;
}

#chat-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

#chat-input {
  align-self: center;
  margin-bottom: 20px;
}

.chat-time-from-me {
  margin-right: 18px;
  text-align: right;
  font-size: 18px;
}

.chat-time-from-them {
  margin-left: 18px;
  text-align: left;
  font-size: 18px;
}

#chat-input-form {
  display: inline-flex;
  width: 550px;
}

#chat-input-field {
  border-radius: 50px;
  margin-right: 15px;
  margin-left: 25px;
}

/* .bottom-0 {
  align-self: center;
  bottom: 0!important;
  margin-bottom: 20px;
  margin-left: 0px;
} */

#detail-column {
  width: 350px;
}

.imessage {
  background-color: #ffffff;
  /* border: 1px solid #e5e5ea; */
  display: flex;
  flex-direction: column;
  font-family: "SanFrancisco";
  font-size: 20px;
  margin: 0 auto 1rem;
  width: 600px;
  padding: 0.5rem 1.5rem;
  height: 100%;
  overflow: auto;
}

.imessage p {
  border-radius: 1.15rem;
  line-height: 1.25;
  max-width: 75%;
  padding: 0.5rem .875rem;
  position: relative;
  word-wrap: break-word;
}

.imessage p::before,
.imessage p::after {
  bottom: -0.1rem;
  content: "";
  height: 1rem;
  position: absolute;
}

p.from-me {
  align-self: flex-end;
  background-color: #DAE5D0;
  color: rgb(0, 0, 0);
}

p[class^="from-"] {
  margin-top: 20px;
  margin-bottom: 4px;
  width: fit-content;
}

p.from-them {
  align-items: flex-start;
  background-color: #e5e5ea;
  color: #000;
}