


.table-headers{
  font-size: large;
  font-family: 'SanFrancisco','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.tableRow{
  padding: 5px;
  height: 220px;

  word-wrap: break-word;
  /* justify-content: center; */
}
.hstack{
  justify-content: center;
}
.options{
  justify-content: flex-start;
}
.textRow{
  text-size-adjust: auto;
}
.textCol{
   background-color:  white;
   border-bottom: 20px solid #A0BCC2;
   max-width: 60%;
   padding: 1%;
   height: inherit;
}
.photoCol{
  width: 200px;
  max-width: 400px;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:  white;
  margin-top: 1%;
}
.itemPhoto {
  max-height: 85%;
  width: auto;
  margin-top: 3px;

}
a {
  color: black;
  /* #DAE5D0 */
  /* #F9EBC8 */
  /* #A0BCC2; */
}
.tbsContainer {
  background-color:  #DAE5D0;
  margin-top: 10px;
  justify-content: center;
  align-content: center;

}
.profContainer {
  padding-top: 2%;
  background-color:  #DAE5D0;
}
.cancelButton {
   margin-top: auto;
}

/* these styles change the size of the text in the rentals */
@media (max-width:550px) {
  h4 {font-size:.60rem; }
  h3 {font-size:.75rem; }
  h2 {font-size:.9rem; }
  h1 {font-size:1rem; }
}

@media (min-width: 551px) {
  h4 {font-size:.9rem; }
  h3 {font-size:1rem; }
  h2 {font-size:1rem; }
  h1 {font-size:1.25rem; }
}

@media (min-width: 950px) {
  h4 {font-size:1rem;}
  h3 {font-size:1.3rem;}
  h2 {font-size:1.3rem;}
  h1 {font-size:1.5rem;}
}
