/*---------------------------------------
SEARCH/BROWSE
---------------------------------------*/

#search-browse-view {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.column-title {
  font-weight: bold;
  font-size: larger;
}

/*---------------------------------------
SEARCH
---------------------------------------*/

.category-icon-off {
  opacity: 0.6;
}

.category-icon-off:hover, .category-icon-on:hover {
  cursor: pointer;
}

#category-multiselect {
  text-align: center;
}

.category-search img {
  max-width: 33%;
  padding: 2%;
}

#category-search-icons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

#clear-filters {
  font-style: italic;
}

#search-categories {
  display: flex;
  flex-direction: column;
}

#search-column {
  background-color: rgb(254, 251, 231);
  display: flex;
  flex-direction: column;
  max-width: 25%;
  padding: 2%;
}

.search-function {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 2px solid black;
  padding: 15px 0;
}

.search-title {
  font-weight: bold;
  align-self: center;
  padding-bottom: 5px;
}

.search-query {
  font-weight: bold;
  background-color: rgb(218, 229, 208);
}

#mile-radius-search {
 display: flex;
 flex-direction: row;
 max-width: 100%;
 white-space: nowrap;
}

#zipcode-search {
  width: 100%;
}

/*---------------------------------------
BROWSE
---------------------------------------*/

#browse-column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 2%;
}

#browse-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

a.go-to-item-listing {
  color: black;
  text-decoration: none;
}

.go-to-item-listing {
  overflow: hidden;
}

#listing-header {
  font-weight: bold;
}

.listing-text {
  margin-left: 3%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: scroll;
}

#listing-title {
  justify-content: left;
}

.rental-listing img {
  border-right: 2px solid black;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  aspect-ratio: 1 / 1;
  max-height: 100%;
  padding-right: 3%;
}

.rental-listing {
  border-bottom: solid 2px black;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 20%;
  padding: 3% 0;
  margin: 3%;
}

#rental-listings {
  display: inline-block;
  height: 100vh;
  overflow: auto;
}

.rental-listing:hover {
  cursor: pointer;
}

.rental-category {
  font-weight: bold;
}

.rental-description {
  font-size: small;
}

.rental-price {
  font-weight: bold;
  font-style: italic;
  font-size: small;
}

.listing-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}